BROWSERSTACK_USERNAME=your_username
BROWSERSTACK_ACCESS_KEY=your_access_key
BROWSERSTACK_APP=bs://your_app_id
BS_DEVICE=Google Pixel 7
BS_OS_VERSION=13.0

ANDROID_DEVICE_NAME=emulator-5554
ANDROID_PLATFORM_VERSION=17
ANDROID_APP_PATH=./apps/android.wdio.native.app.v2.2.0.apk